---
import { Image } from "astro:assets";
import featureImg from "./assets/feature.svg";
import featureLightImage from "./assets/feature-light.svg";
---

<div class="grid grid-cols-1 gap-x-4 gap-y-4 sm:grid-cols-2 lg:grid-cols-3 lg:gap-x-6 lg:gap-y-6">
    <div class="flex">
        <div class="relative box-border flex flex-col gap-5 overflow-hidden dark:border-neutral-800 rounded-xl border p-8 no-underline text-black dark:text-white">
            <Image src={featureImg} class={"dark:block hidden"} height="64" width="64" alt="feature"/>
            <Image src={featureLightImage} class={"dark:hidden block"} height="64" width="64" alt="feature"/>
            <div class="flex flex-col gap-2">
                <h3 class=" m-0 font-bold leading-5text-white">Incremental builds</h3>
                <p class="m-0 leading-6 opacity-70">Building once is painful enough, Turborepo will remember what you've built and skip the stuff that's already been computed.</p>
            </div>
        </div>
    </div>
    <div class="flex">
        <div class="relative box-border flex flex-col gap-5 overflow-hidden dark:border-neutral-800 rounded-xl border p-8 no-underline text-black dark:text-white">
            <Image src={featureImg} class={"dark:block hidden"} height="64" width="64" alt="feature"/>
            <Image src={featureLightImage} class={"dark:hidden block"} height="64" width="64" alt="feature"/>
            <div class="flex flex-col gap-2">
                <h3 class=" m-0 font-bold leading-5text-white">Incremental builds</h3>
                <p class="m-0 leading-6 opacity-70">Building once is painful enough, Turborepo will remember what you've built and skip the stuff that's already been computed.</p>
            </div>
        </div>
    </div>
    <div class="flex">
        <div class="relative box-border flex flex-col gap-5 overflow-hidden dark:border-neutral-800 rounded-xl border p-8 no-underline text-black dark:text-white">
            <Image src={featureImg} class={"dark:block hidden"} height="64" width="64" alt="feature"/>
            <Image src={featureLightImage} class={"dark:hidden block"} height="64" width="64" alt="feature"/>
            <div class="flex flex-col gap-2">
                <h3 class=" m-0 font-bold leading-5text-white">Incremental builds</h3>
                <p class="m-0 leading-6 opacity-70">Building once is painful enough, Turborepo will remember what you've built and skip the stuff that's already been computed.</p>
            </div>
        </div>
    </div>
    <div class="flex">
        <div class="relative box-border flex flex-col gap-5 overflow-hidden dark:border-neutral-800 rounded-xl border p-8 no-underline text-black dark:text-white">
            <Image src={featureImg} class={"dark:block hidden"} height="64" width="64" alt="feature"/>
            <Image src={featureLightImage} class={"dark:hidden block"} height="64" width="64" alt="feature"/>
            <div class="flex flex-col gap-2">
                <h3 class=" m-0 font-bold leading-5text-white">Incremental builds</h3>
                <p class="m-0 leading-6 opacity-70">Building once is painful enough, Turborepo will remember what you've built and skip the stuff that's already been computed.</p>
            </div>
        </div>
    </div>
    <div class="flex">
        <div class="relative box-border flex flex-col gap-5 overflow-hidden dark:border-neutral-800 rounded-xl border p-8 no-underline text-black dark:text-white">
            <Image src={featureImg} class={"dark:block hidden"} height="64" width="64" alt="feature"/>
            <Image src={featureLightImage} class={"dark:hidden block"} height="64" width="64" alt="feature"/>
            <div class="flex flex-col gap-2">
                <h3 class=" m-0 font-bold leading-5text-white">Incremental builds</h3>
                <p class="m-0 leading-6 opacity-70">Building once is painful enough, Turborepo will remember what you've built and skip the stuff that's already been computed.</p>
            </div>
        </div>
    </div>
    <div class="flex">
        <div class="relative box-border flex flex-col gap-5 overflow-hidden dark:border-neutral-800 rounded-xl border p-8 no-underline text-black dark:text-white">
            <Image src={featureImg} class={"dark:block hidden"} height="64" width="64" alt="feature"/>
            <Image src={featureLightImage} class={"dark:hidden block"} height="64" width="64" alt="feature"/>
            <div class="flex flex-col gap-2">
                <h3 class=" m-0 font-bold leading-5text-white">Incremental builds</h3>
                <p class="m-0 leading-6 opacity-70">Building once is painful enough, Turborepo will remember what you've built and skip the stuff that's already been computed.</p>
            </div>
        </div>
    </div>
</div>
